
.color-title{
    font-weight:normal;
}

#red {
    color:red;
}

#blue {
    colour: blue;
}

#orange {
    color: orange;
}

#green{
    color: green;
}

#yellow {
    color:yellow;
}

img[src]{
    height: 200px;
    width: 200px;
}

